<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honeybee.dao.CustomerMapper">

    <!-- 添加客户 -->
    <insert id="addCustomer" parameterType="CustomerBean">
        INSERT INTO customer_info (customer_id,user_id,customer_name,customer_phone,total_money,create_time,update_time)
        VALUES (#{customerId},#{userId},#{customerName},#{customerPhone},#{totalMoney},#{createTime},#{updateTime})
    </insert>

    <!-- 添加客户 -->
    <select id="selectCustomerByName" parameterType="String" resultType="String">
        SELECT c.customer_id
        FROM customer_info c
        WHERE c.customer_name=#{customerName}
    </select>
</mapper>