<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honeybee.dao.CustomerInfoMapper">

    <resultMap id="CustomerInfoBase" type="com.honeybee.common.bean.CustomerInfoBean">
        <result column="new_Member"  property="newMember"></result>
        <result column="total_Profit" property="totalProfit"></result>
    </resultMap>

    <resultMap id="CustomerYearInfoBase" type="com.honeybee.common.bean.CustomerYearInfoBean">
        <result column="monthTime" property="time"></result>
        <result column="new_Member"  property="newMember"></result>
        <result column="total_Profit" property="totalProfit"></result>
    </resultMap>

    <!-- 查询总金额 -->
    <select id="queryTotalMember" parameterType="String" resultType="String">
        select  count(1) from  customer_info where user_id=#{userId}
    </select>

    <!-- 根据时间点查询客户的信息 -->
    <select id="queryCustomerInfo" parameterType="Map" resultMap="CustomerInfoBase">
        select
        IFNULL(count(customer_id),0) new_Member,
        IFNULL(sum(total_money),0) total_Profit
         from  customer_info
         where user_id=#{userId}
        and create_time>=#{firstDay}
            and create_time<![CDATA[<=]]>#{today}
    </select>

    <!-- 根据时间点查询客户的信息 -->
    <select id="queryCustomerDayInfo" parameterType="Map" resultMap="CustomerInfoBase">
       SELECT
       IFNULL(count(customer_id),0) new_Member,
        IFNULL(sum(total_money),0) total_Profit
        from  customer_info
        where user_id=#{userId}
        and create_time=#{firstDay}
    </select>




    <!-- 根据时间点查询客户近一年的信息 -->
    <select id="queryCustomerYearInfo" parameterType="Map" resultMap="CustomerYearInfoBase">
        SELECT
        IFNULL(count(customer_id),0) new_Member,
        IFNULL(sum(total_money),0) total_Profit,
        t.create_time monthTime
        FROM
        (
        SELECT
        user_id,
        customer_id,
        customer_name,
        customer_phone,
        total_money,
        date_format(create_time, '%Y-%m') create_time
        FROM
        customer_info
        WHERE
        create_time <![CDATA[<=]]>#{today}
        AND create_time>=#{firstDay}
        AND user_id = #{userId}
        ) t
        GROUP BY
        create_time
    </select>




</mapper>
